version: '3.8'

services:

  db:
    container_name: social_clone_db
    image: postgres:16.1-alpine
    env_file:
      - .env
    ports:
      - "5540:5432"
    expose:
      - 5433
    volumes:
      - ./db_backup:/var/lib/postgresql/data

  web_app:
    container_name: social_clone_app
    tty: true
    stdin_open: true
    build: .
    volumes:
      - .:/app
    command: >
      sh -c "python /app/manage.py collectstatic --noinput &&
             python /app/manage.py makemigrations &&
             python /app/manage.py migrate &&
             python /app/manage.py init_admin &&
             gunicorn social_clone.wsgi --threads 4 --timeout 240 --bind 0.0.0.0:6060  --reload --workers 3 --chdir /app/"
    restart: always
#    ports:
#      - "6060:6060"
    env_file:
      - .env
    depends_on:
      - db
      - cache_redis

  cache_redis:
    image: redis:alpine3.19
    restart: always
    depends_on:
      - db

  nginx:
    container_name: social_clone_nginx
    build:
      context: .
      dockerfile: nginx/Dockerfile.nginx
    ports:
      - "6060:80"
    depends_on:
      - web_app

